html {
	box-sizing: border-box;
    
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body{
    background: linear-gradient(325deg, #767979, #432565, #000000, #59a379);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
    
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}



#location-input{
    width: 25rem;
    height: 40px;
 background: #673899;
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-size: 1rem;
color: white;
-webkit-box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
}

::-webkit-input-placeholder {
   text-align: center;
   font-size: 1rem;
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   font-size: 1.5rem;
   color: burlywood;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-size: 1.5rem;
   color: burlywood;  
}

:-ms-input-placeholder {  
   text-align: center;
   font-size: 1.5rem;
   color: burlywood; 
}
#search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#location-input:focus{
outline: none;
background-color: #635179;
color: white;
font-size: 1rem;
-webkit-box-shadow: 0px 0px 26px -3px rgb(64, 255, 137);
-moz-box-shadow: 0px 0px 26px -3px rgb(64, 255, 137);
box-shadow: 0px 0px 26px -3px rgb(64, 255, 137);
}

#main-container{
    margin-top: 15px;
    /* margin:0 ; */
    padding:10px;
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100% ;
    /* border: 1px solid; */
    justify-content: space-evenly;
    
}

#left{
   height: 100%;
   width: 37%;
   /* border:2px solid; */
   display: flex;
   flex-direction: row;
   align-items: center;
}

#right{
height: 100%;
   width: 60%;
   /* border:2px solid; */
   border-radius: 10px;
}


#card{
   backdrop-filter: blur(16px) saturate(103%);
    -webkit-backdrop-filter: blur(16px) saturate(103%);
    background-color: rgba(255, 254, 254, 0.19);
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
box-shadow: 0px 0px 26px -9px rgba(255,255,255,1);
    width: 100%;
/* height: 90%; */
display: flex;
flex-direction: column;
justify-content:center;

}

#location{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: #D6D6D6;
    font-size: 2rem;
}
#overall, #overall2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: #D6D6D6;
    border: 2px solid grey;
}
#mid-sec{
    margin-top: 10px;
    color: #D6D6D6;
    
display: flex;

flex-direction: row;
height: 7rem;
}

#min-max{
    margin-top: 10px;
    color: #D6D6D6;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    height: 2rem;
}

#current-temp, #image, #min-temp, #max-temp{
    flex: 1;
    /* border: 2px solid blueviolet; */
}

#current-temp{
 text-align: center;
 font-size: 4rem;
 padding-top: 17px;   
}

#min-temp, #max-temp{
    text-align: center;
    padding-top: 3px;
}
img{
height: 100%;
width: 100%;
}
#sup1{
    font-size: 1.5rem;
}

#sup2{
    font-size: 0.7rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    #main-container{
        flex-direction: column;
    }

    #left, #right{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
